*.o
*.lo
/libhpr.a.xyzzy
/libs6_linux_init.a.xyzzy
/libs6_linux_init.so.xyzzy
/config.mak
/src/include/s6-linux-init/config.h
/s6-linux-init
/s6-linux-init-hpr
/s6-linux-init-shutdown
/s6-linux-init-shutdownd
/s6-linux-init-telinit
/s6-linux-init-logouthookd
/s6-linux-init-echo
/s6-linux-init-umountall
/s6-linux-init-maker
